.load {
  width: 80px;
  height: 80px;
  border: 5px solid #e99a8b;
  border-bottom-color: #fb5e00;
  border-radius: 50%;
  display: inline-block;
  animation: mulShdSpin 1s linear infinite;
}
@keyframes mulShdSpin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.block {
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  z-index: 100;
  background-color: #0f1011;
}
