.player-background{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}
.player-iframe{
    border-radius: 5px;
    border:  1px solid #0F1011;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    background:none;
}
.player-content{
    border-radius: 8px;
    background: none;
    
    position: relative;
}
.player-close{
    position: absolute;
    top: -35px;
    right: -35px;
    background: none;
    border: none;
    font-size: 36px;
    cursor: pointer;
    transition: 0.3s;
    color: #ffffff;
}
.player-close:hover {
    color: #dd5515;
}