.content {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  color: white;
  width: 100%;
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
  height: auto;
  position: relative;
  z-index: 0;
  margin-bottom: 1rem;
  border-radius: 5px;
}
.content::after {
  content: '';
  background: linear-gradient(to right, rgb(0, 0, 0, 0.6), rgba(0, 0, 0, 0));
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  position: absolute;
  z-index: 1;
}
.info-block {
  display: flex;
  align-items: center;
  gap: 20px;
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 30px;
}
.button-block {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}
.button-watch {
  width: 100%;
  margin-bottom: 1.5rem;
}
.watch-link {
  width: 100%;
}
.button-trailer {
  padding: 20px 40px;
  width: 80%;
}
.info-block p {
  padding: 5px 10px;
  border-radius: 5px;
  background-color: #3b3c40;
}
.text-block {
  display: flex;
  flex-direction: column;

  padding: 60px 40px;
  max-width: 30%;
  min-height: 70vh;
  position: relative;
  z-index: 2;
}
.button-block {
  flex-grow: 1;
  align-content: flex-end;
}
.title {
  font-size: 36px;
  font-weight: 900;
  margin-bottom: 20px;
}

.description {
  font-size: 20px;
  font-weight: 400;
}

.link {
  color: white;
  font-size: 18px;
  font-weight: 700;
}
.form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.section {
  padding-top: 8rem;
}
.iframe {
  border: none;
  border-radius: 5px;
}
.toast {
  min-width: 450px;
  background-color: #3b3c40;
  color: white;
}
.toast button {
  color: white;
}
.toast div svg {
  fill: white;
}
@media (max-width: 1280px) {
  .text-block {
    max-width: 60%;
  }
  .random-content {
    height: 60vh;
  }
}
@media (max-width: 768px) {
  .text-block {
    max-width: 70%;
    padding: 10px;
    min-height: 50vh;
  }
  .content {
    height: 50vh;
  }
  .title {
    font-size: 26px;
  }
  .description {
    font-size: 16px;
  }
}
@media (max-width: 568px) {
  .text-block {
    max-width: 90%;
    padding: 15px;
    min-height: 40vh;
  }
  .content {
    min-height: 40vh;
    margin-bottom: 0;
  }
  .section {
    padding-bottom: 0;
  }
  .title {
    font-size: 22px;
    margin-bottom: 10px;
  }
  .description {
    font-size: 14px;
    margin-bottom: 10px;
  }
  .info-block {
    display: none;
    margin-bottom: 15px;
  }
  .button-block {
    display: block;
    align-items: start;
    max-width: 300px;
  }
  .button-trailer {
    padding: 15px 20px;
    font-size: 14px;
    max-width: 200px;
  }
  .button-watch {
    max-width: 250px;
    padding: 15px 20px;
    font-size: 14px;
    margin-bottom: 10px;
  }
}
@media (max-width: 1280px) {
  .iframe {
    width: 640px;
    height: 480px;
  }
}
@media (max-width: 768px) {
  .iframe {
    width: 480px;
    height: 480px;
  }
}
@media (max-width: 568px) {
  .iframe {
    width: 400px;
    height: 500px;
  }
  .iframe .content {
    width: 420px;
    height: 480px;
  }
}
@media (max-width: 480px) {
  .iframe {
    width: 320px;
    height: 500px;
  }
}
