.footerList {
  display: flex;
  gap: 15px;
  justify-content: center;
  list-style-type: none;
}

.footerContent {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 15px;
}

.footerTitle {
  font-size: 18px;
  font-weight: 500;
  color: white;
  opacity: 0.8;
}

.footerLineTop {
  height: 3px;
  margin-bottom: 30px;
  border: 1px solid rgb(145, 139, 139);
  opacity: 0.5;
}

.footerLineBottom {
  margin-bottom: 15px;
  border: 1px solid rgb(145, 139, 139);
  opacity: 0.5;
}

.footerLink {
  font-size: 20px;
  font-weight: 700;
  color: white;
  transition: 0.3s;
  cursor: pointer;
  margin-bottom: 30px;
}

.footerLink:hover {
  color: rgb(196, 194, 194);
}

.footerListImage {
  fill: #b3b3b3;
}

.footerBottom {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;
}

.copyright {
  font-size: 18px;
  margin-bottom: 15px;
}

.footerNav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  gap: 15px;
  margin-bottom: 15px;
}

.navLink {
  font-size: 18px;
  color: white;
  transition: 0.3s;
}

.navLink:hover {
  color: rgb(196, 194, 194);
}

@media (max-width: 480px) {
  .footerNav {
    flex-direction: column;
  }
  .copyright {
    text-align: center;
  }
}
