.title {
  display: flex;
  align-items: center;
  font-size: 32px;
  margin: 0 auto;
  max-width: 80%;
  line-height: 40px;
  font-weight: 600;
  color: white;
  text-align: center;
  margin-bottom: 3rem;
}
.content-block {
  display: flex;
  justify-content: center;
  align-items: stretch;
  flex-wrap: wrap;
  gap: 1rem;
  color: white;
  margin-bottom: 4rem;
}
.info {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 1rem;
  color: white;
}

.disabled {
  opacity: 0.7;
}
.link {
  max-width: 120px;
}
