.container{
  padding-left: 6rem;
  padding-right: 6rem;
  margin: 0 auto;
}
.button{
  border-radius: 100px;
  border: none;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.button-watch{
  background: linear-gradient(
45deg,
#FB5E00,
#FF6F61
);
  font-size: 18px;
  font-weight: 700;
  padding: 20px 40px;
  transform: scale(1);
  transition: 0.5s ease;
  display: flex;
  align-items: center;
  align-self: center;
  justify-content: center;
  gap: 10px;
  
}
.button-watch:hover{
  transform: scale(1.05);
  transition: 0.3s ease
}
.button-trailer {
  background-color: rgba(31,31,31,.95);
  padding: 24px 40px;
  font-size: 18px;
  font-weight: 700;
  transition: 0.3s ease
  
}
.button-trailer:hover{
  transform: scale(1.05);
  background-color: rgba(31,31,31,.90);
  transition: 0.3s ease
}
.unscroll{
  overflow: hidden;
}
.hero-watch__button{
  background: linear-gradient(
45deg,
#FB5E00,
#FF6F61
);
  font-size: 18px;
  font-weight: 700;
  padding: 20px 40px;
  transform: scale(1);
  transition: 0.5s ease;
  display: flex;
  align-items: center;
  align-self: center;
  justify-content: center;
  gap: 10px;
  
}
.hero-watch__button:hover{
  transform: scale(1.05);
  transition: 0.3s ease
}
